VITE_SUPABASE_URL=https://jhoxmeyqggmbpjxoyuvy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impob3htZXlxZ2dtYnBqeG95dXZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3MjE2MTgsImV4cCI6MjEwNTI5NzYxOH0.Etpu-6NPxAg-En37bqHpCc2wM0lwzpp_69hVG4LylSk
VITE_SENTRY_DSN=https://d1eef55b8924130c01db5c21f66c314a@o4512147932839936.ingest.de.sentry.io/4512147960823888